.DS_Store
*.pkg/
*.zip
*.dmg
pkgroot/
build/
xcuserdata/
*.mode1
*.mode1v3
*.pbxuser
*.xccheckout
pkginfo/Info.plist
pkginfo/Distribution.xml
src/bridge/output
src/core/kext/common/Info.plist
src/core/server/Info.plist
src/util/prefpane/Info.plist
src/util/uninstaller/Info.plist

### CocoaPods ###
Pods/
