.DS_Store
*.pkg/
*.zip
pkgroot/
build/
xcuserdata/
*.mode1
*.mode1v3
*.pbxuser
pkginfo/Info.plist
src/core/autogen/output
src/core/kext/common/Info.plist
src/core/server/Info.plist
src/util/prefpane/Info.plist
src/util/uninstaller/Info.plist
